@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
#search, #show-results, #no-results, #spinner{
    display: none;
}

/* -------------- Responsive ------------------ */
@media only screen and (min-width: 320px) and (max-width:767px) {
    .row>* {
        padding-right: 0 !important;
    }
}